Babel==2.6.0
CommonMark==0.5.4
Jinja2==2.10
Magic-file-extensions==0.2
MarkupSafe==1.1.0
Pygments==2.7.4
Sphinx==1.7.9
alabaster==0.7.12
argparse==1.2.1
breathe==4.11.0
cffi==0.8.6
chardet==2.3.0
colorama==0.3.2
cryptography==0.6.1
docutils==0.14
html5lib==0.999
imagesize==1.1.0
ndg-httpsclient==0.3.2
## FIXME: could not find svn URL in dependency_links for this package:
oe-lite==4.2.0-r0
packaging==18.0
ply==3.4
pyOpenSSL==0.14
pyasn1==0.1.7
pycparser==2.10
pycurl==7.19.5
pyparsing==2.3.0
pysqlite==2.6.3
pytz==2018.7
recommonmark==0.4.0
requests==2.4.3
six==1.8.0
snowballstemmer==1.2.1
sphinxcontrib-websupport==1.1.0
typing==3.6.6
urllib3==1.9.1
wheel==0.24.0
wsgiref==0.1.2

